body {
  background-color: white;
  background: linear-gradient(to right, #4a46587c, #4a4658);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  background-color: #4a4658;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.signIn,
.signUp {
  width: 50%;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 10px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.button {
  background-color: #25232c;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.icon {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.toggleContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
  border-radius: 150px 0 0 100px;
}

.toggle {
  background-color: #25232c;
  height: 100%;
  background: linear-gradient(to right, #25232c, #4a4658);
  color: #fff;
  position: relative;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.togglePanel {
  position: absolute;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.forgotPassword {
  font-size: 12px;
  color: #25232c;
  text-decoration: none;
  margin-top: 10px;
}