/* Estilos para os itens do menu */
.listItem {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 172px;
  height: 44px;
  color: #7d8592;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 15px;
  user-select: none;
}

.listItem:hover {
  transition: 0.2s;
  color: #25232c;
  transition: background-color 0.5s;
  background-color: #4a46587c;
}

.listItemIcon {
  width: 23px;
  height: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

.listItemText {
  font-family: Nexa;
  color: white;
}

.active {
  /* Estilos para o item ativo */
  color: #25232c;
  background-color: #4a4658;
}