.Desktop {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #25232c;
}

.Content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.MainContent {
  flex: 1;
  padding-left: 24px;
  padding-right: 24px;
  overflow-y: auto;
  background-color: #25232c;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .Desktop {
    flex-direction: column;
  }
  
  .MainContent {
    padding: 16px;
  }
}

